body {
  background-color: #000000;
  background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  text-align: center;
}
.frame {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}
.card {
  border-radius: 2rem;
  padding: 0 1rem;
  background-color: #818181;
}
.controller {
  background: #555;
  margin: 0 1rem;
  border: 1px solid;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-buttons {
  height: 4em;
  width: 15em;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
}
.controller.selected {
  background-color: #4caf50;
  color: white;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.barsDiv {
  display: flex;
  align-items: flex-end;
  height: 500px;
  width: 80%;
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.control-buttons,
.algorithm-buttons {
  width: 501px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  background-color: gray;
  border-radius: 20px;
  padding: 15px 0px 16px 0px;
}
.newOne {
  justify-content: space-around;
}

.controller {
  width: 120px;
  margin: 0 6px;
  /* padding: 10px; */
  background-color: #7ca7d5;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-wrap: nowrap;
  height: 37px;
}

.controller.selected {
  background-color: #4caf50;
}

.controller:hover {
  background-color: #0056b3;
}
